body{
    margin: 0;
    padding: 0;
    background-color: #b556f1;
}

.obok-siebie{
    display: flex;
    gap: 40px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.Minionki-header{
    height: 300px;
    width: 100%;
    background-image: url('images/d2eac586102b53f8841018ab04549ea4.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    filter: contrast(110%);
    color: #b556f1;
    font-size:60px;
    font-family: 'Impact';
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0;
}

.Krotko-o-Minionkach{
    border-radius: 20px;
    background-color: #bd92ea;
    border: inset 3px black;
}

.Lista{
    border-radius: 20px;
    background-color: #bd92ea;
    border: inset 3px black;
    text-align: center;
}