body{
    margin: 0;
    padding: 0;
    background-color: #b556f1;
}

.Minionki-header{
    height: 300px;
    width: 100%;
    background-image: url('images/d2eac586102b53f8841018ab04549ea4.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b556f1;
    font-size:60px;
    font-family: 'Impact';
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0;
}