body{
    background-color: #e1d855;
}

.Minionki-header{
    height: 500px;
    width: 702px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/920713_1_07-10minions_standard.jpg');
    background-size: cover;
    background-position: center;
    color: #e1d855;
    font-family: 'Courier New';
    text-shadow: 2px 2px 4px #000000;
}

