<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.pk57919" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kinga 57919</name>
    <description>
        Weather App
    </description>
    <author email="pk57919@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Kinga Porańczyk
    </author>
    <content src="weather.html" />
    <platform name="electron">
    <icon src="res/electron/ikona.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
